body{
    background-color: red;
}
hr{
  border:1px solid blue ;  
}
button{
    background-color: aqua;
    color: black;
}
#camara{
    border: 2px solid green;
    width:350px ;
    height:300px ;
}